.productListSlider {
  padding: 1rem calc(0.5rem + 5vw);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: clamp(14rem, calc(10rem + 21%), 20rem);
  gap: 1rem;
  overflow-x: auto;
  overscroll-behavior: contain;
}
